__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.*
example.local.env
example.prod.env

C:\Users\minse\Documents\AH_03_08\app\models\proj_pill\pill_resnet152_dataclass01_aug0.pt
app/models/proj_pill/*