__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.*
example.local.env
example.prod.env

app/models/proj_pill/
app/models/pill_data_croped

scripts/eval/chatbot/results/*.json
scripts/eval/ocr/results/*.json
pill_print_index.json
scripts/eval/ocr/testcases/

ai_worker/image/classifier/train.csv
ai_worker/image/classifier/val.csv
ai_worker/image/classifier/color_shape_model.pt